.btnView:hover{
    color: inherit;
    text-decoration: none;
}
.custom-search-bar {
    text-align: right;
}
.custom-search-bar .form-control {
    border: 1px solid #dee2e6;
    box-shadow: none;
    background: initial;
    width: 30%;
    display: inline;
  }
.btnSearch {
    display: inline-block;
    cursor: pointer;
}
.btnSearch:hover {
    scale: 1.5;
}