.headerCell {
    background: #E7F1FF !important;
    color: #6C757D !important;
}

.linkShow {
    cursor: pointer;
}

.linkShow:hover {
    color: #007bff;
    text-decoration: underline;
}

.copy-button {
    cursor: pointer;
    user-select: none;
}

.custom-search-bar {
    text-align: right;
}
.custom-search-bar .form-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: initial;
    border-bottom-style: groove ;
    width: 20%;
    display: inline;
  }
.btnSearch {
    display: inline-block;
    cursor: pointer;
}
.btnSearch:hover {
    scale: 1.5;
}
.search {
    margin-bottom: 15px;
    border-radius: 8px !important;
    padding: 5px 0;
}